@model ContatoModel
@{
    ViewData["title"] = "Criar Contato";    

}
<div class="text-center">

	<h1 class="display-4"> Cadastrar Contato</h1>


</div>

<form asp-controller="Home" asp-action="Criar" method="post">
    <div class="form-group">
        <label for="Nome"> Nome</label>
        <input type="text" asp-for="Name" class="form-control" aria-describedby="Nome" placeholder="Nome de CADASTRO">
    </div>
    <div class="form-group">
        <label for="email"> E-mail</label>
        <input type="text" asp-for = "Email" class="form-control" aria-describedby="e-mail" placeholder="Cadastrar e-mail">
    </div>
    <div class="form-group">
        <label for="Contato"> Contato</label>
        <input type="text" asp-for="Celular" class="form-control" aria-describedby="Contato" placeholder="cadastro contato">
    </div>
 
    <button type="submit" class="btn btn-primary btn-block">Adicionar</button>
    <a class="btn btn-secondary" asp-controller="Home" asp-action="Contato" role="button"> Voltar </a>
</form>